@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #faf3f0;
	--blue: #d4e2d4;
	--pink: #ffcacc;
	--purple: #dbc4f0;
	--black: #000000;
}

body {
	font-family: Lato, sans-serif;
	background-color: var(--blue);
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--purple);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

#header-img {
	width: 350px;
	display: block;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--black);
}
#nav-bar > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-size: 1.3rem;
}

main {
	margin-top: 6rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#hero {
	display: grid;
	place-items: center;
}
#hero h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

#email,
#submit {
	border: 1px solid var(--purple);
	padding: 0.3rem 0.7rem;
	border-radius: 0.3rem;
	font-size: 1.3rem;
}
#features {
	margin-top: 1rem;
}
#features > div {
	display: grid;
	grid-template-columns: 6rem 1fr;
	margin-bottom: 1rem;
}
.icon {
	text-align: center;
}

#pricing {
	display: flex;
	gap: 2rem;
	margin-top: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.product {
	padding: 1rem;
	background-color: var(--purple);
	border-radius: 0.3rem;
}
.product > .btn {
	width: 100%;
}
.level {
	font-size: 1.7rem;
}
.btn {
	padding: 0.3rem 1rem;
	margin-top: 1rem;
	border-radius: 0.3rem;
	background-color: var(--pink);
	min-width: 250px;
}
.btn:hover {
	background-color: var(--white);
	cursor: pointer;
}

footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: var(--purple);
	margin-top: 1rem;
	padding: 1rem;
}

footer > ul {
	display: flex;
	gap: 2rem;
}

@media (max-width: 800px) {
	#header,
	footer {
		flex-direction: column;
	}
	main {
		margin-top: 8rem;
	}
	#hero h2 {
		text-align: center;
	}
	#email,
	#submit {
		width: 100%;
	}
}

@media (max-width: 400px) {
	main {
		margin-top: 14rem;
	}
	#nav-bar {
		margin-top: 1rem;
	}
	ul {
		flex-direction: column;
		gap: 1rem;
	}
	footer > span {
		margin-top: 1rem;
	}
}
