body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: #eee;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3vw;
}

#editor {
	resize: none;
}

#preview {
	word-wrap: break-word;
	overflow-y: scroll;
	overflow-x: hidden;
}

#editor,
#preview {
	width: 45vw;
	height: 90vh;
	border: 1px solid #ccc;
	background: #f8f8f8;
	border-radius: 0.5rem;
	padding: 1rem;
}
